* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
  }
  
  .product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-details, .product-image {
    width: 48%;
  }
  
  .product-details {
    padding: 20px 20px;
    margin-top: 30px;
  }
  
  .product-details h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFD700;
  }
  
  .product-details h3 {
    font-size: 20px;
    font-weight: bold;
    color: gold;
    margin: 20px auto;
  }
  
  .product-image {
    padding: 20px;
    
  }
  
  .product-image img {
    width: 100%;
    height: auto;/* maintains aspect ratio*/
    border: 1px solid gold;
  }
  
  select {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid gold;
    width: calc(50% - 5px);
  }
  
  .add-to-bag {
    background-color: gold;
    color: black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border: none;
  }
  
  .add-to-bag i {
    margin-right: 5px;
  }
  
  .tabs {
    margin-top: 6em;
    margin-bottom: 12em;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .tabs a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
  }
  
  .tabs a.active {
    border-bottom-color: gold;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1em;
    margin-top: 3em;
  }
  
  .footer a {
    padding: 0px 21px;
    color: darkgray;
  }
  