/* Reset browser defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Styling for visited links */
a:visited {
  color: white; /* Visited link color */
}

/* Styling for the body element */
body {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children in a column */
  min-height: 100vh; /* Ensure body takes up at least full viewport height */
  background-color: black; /* Set background color */
}

/* Header styles */
.header {
  position: relative; /* Set position to relative */
  width: 100%; /* Set width to 100% */
  height: 80vh; /* Set height */
  margin-bottom: 0;
  padding-bottom: 0;
}

.header img {
  position: absolute; /* Set position to absolute */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  object-fit: cover; /* Ensure image covers container */
}

.header h1 {
  position: absolute; /* Set position to absolute */
  top: 50%; /* Align to the middle vertically */
  left: 50%; /* Align to the middle horizontally */
  transform: translate(-50%, -50%); /* Center the text */
  text-align: center; /* Align text to center */
  color: gold; /* Set text color */
  font-size: 8em; /* Set font size */
}


/* Container styles */
.container {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space items evenly */
  align-items: start; /* Align items to the start */
}

/* Form container and customer service styles */
.form-container,
.customer-service {
  width: 50%; /* Set width to 50% */
  height: 450px; /* Set height */
  padding: 20px; /* Add padding */
  padding-top: 0px; /* Add padding to top */
  margin-top: 20px; /* Add margin to top */
}

/* Form container styles */
.form-container {
  border: 2px solid gold; /* Set border */
  background-color: white; /* Set background color */
  color: white; /* Set text color */
  font-size: 1.2em; /* Set font size */
  line-height: 2; /* Set line height */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-around; /* Space items evenly */
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Input field styles */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container textarea {
  width: 100%; /* Set width to 100% */
  padding: 10px; /* Add padding */
  margin-bottom: 10px; /* Add margin to bottom */
  border: 1px solid gold; /* Set border */
}

/* Heading styles within form container */
.form-container h2 {
  font-size: 1.2em; /* Set font size */
  text-align: center; /* Align text to center */
  position: absolute; /* Set position to absolute */
  top: 530px; /* Position from top */
  left: 25%; /* Position from left */
  transform: translateX(-50%); /* Center horizontally */
  color: gold; /* Set text color */
  padding: 0px 10px; /* Add padding */
}

/* Button styles within form container */
.form-container button {
  background-color: #add8e6; /* Set background color */
  color: white; /* Set text color */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove border */
  cursor: pointer; /* Set cursor to pointer */
}

/* Customer service container styles */
.customer-service {
  position: relative; /* Set position to relative */
  border: 2px solid gold; /* Set border */
  background-color: black; /* Set background color */
  color: white; /* Set text color */
  font-size: 1.2em; /* Set font size */
  line-height: 2; /* Set line height */
  text-align: center; /* Align text to center */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-around; /* Space items evenly */
  min-height: 450px; /* Set minimum height */
}

/* Heading styles within customer service container */
.customer-service h2 {
  position: absolute; /* Set position to absolute */
  top: -20px; /* Position from top */
  left: 50%; /* Position from left */
  transform: translateX(-50%); /* Center horizontally */
  background: black; /* Set background color */
  padding: 0 10px; /* Add padding */
}

/* Footer styles */
.footer {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Align items to center */
  align-items: center; /* Align items to center */
  background-color: black; /* Set background color */
  color: white; /* Set text color */
  padding: 1em; /* Add padding */
  margin-bottom: 1em; /* Add margin to bottom */
}

/* Footer link styles */
.footer a {
  padding: 0px 21px; /* Add padding */
  color: darkgray; /* Set text color */
}
